{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <table width="100%" class='list_table'>
            <thead>
                <tr>
                    <th> agency ID </th>
                    <th> date/time </th>
                    <th> service ID </th>
                    <th> Type </th>
                    <th> cusomter name </th>
                    <th> contact number </th>
                    <th> compain </th>
                    <th> operation </th>
                </tr>
            </thead>
            <tbody>
                {% for pfp in pfp_list %}
                <tr>
                    <td>{{pfp.osid}}</td>
                    <td>{{pfp.timestamp}}</td>
                    <td>{{pfp.serviceRef}}</td>
                    <td>{{pfp.serviceRef.service_type}}</td>
                    <td>{{pfp.serviceRef.customer_id.name}}</td>
                    <td>{{pfp.serviceRef.customer_id.contact_number}}</td>
                    <td>{{pfp.serviceRef.complain}}</td>
                    <td> <a href="{% url 'main:pendingforpayment' osid=pfp.osid%}">dealwith</a> </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}